.DS_Store
node_modules/
*.swp
build/
.grunt-*/
dist/
validation-report.json
validation-status.json
.idea/
coverage/
src/style/.tmp/
*.log
*.sln
*.csproj
*.csproj.user
*.suo
bin/
.vs/
obj/
bower_components/
.sonar
.wercker
deploy/config.xml
dummy.txt
.tern-port
jsconfig.json
